@font-face {
   font-family: 'GongGothicMedium';
   src:
      url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
  margin-top: 100px;
  font-family: 'GongGothicMedium';
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}
.container h1 {
  text-align: center;
  font-weight: bold;
  
}
.form-group {
  margin-bottom: 50px;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}
.form-group input {
  height: 40px;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.form-group button {
  font-weight: 500px;
  font-size: 20px;
border-radius: 8px;
  width: 100%;
  padding: 10px;
  background-color: #aca9a9;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.form-group button:hover {
  background-color: #4b4c4d;
}
.login-link {

  text-align: center;
  margin-top: 20px;
  padding-right: 30px;
}
.login-link a {
  margin-left: 25px;    /* 회원가입 위치 */
  color: #000000;
}
.login-link a:hover {
  text-decoration: underline;
}
.log_size{
  
  text-align: center;
  font-weight: 800px;
}
.id_over button{
margin-left: 340px;
background-color: rgb(228, 224, 224);
font-size: small;
margin-top: 10px;
width: 100px;
text-align: center;
color: #000000;
border-radius: 20px;
}
.find {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%; /* 부모 요소의 전체 너비 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  gap: 50px; /* 링크 간 간격 설정 */
}
.find a {
  
  color: #000000; /* 기본 색상 유지 */
  text-decoration: none; /* 밑줄 제거 */
}

.container h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 30px; /* 필요한 만큼의 패딩 추가 */
 
}
