@font-face {
   font-family: 'GongGothicMedium';
   src:
      url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Cafe24Meongi-W-v1.0';
   src:
      url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2')
      format('woff2');
   font-weight: normal;
   font-style: normal;
}

@import
   url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
/* =======================================================
*
*    Template Style 
*   Edit this section
*
* ======================================================= */
/* *{
      flex-shrink: 0 !important; 화면 크기가 줄어들어도 크기 유지  */
body {
   /* background-color: #EEEEEE; */
   font-family: 'GongGothicMedium';
   font-weight: 300;
   font-size: 20px;
   /* 카테고리 글씨 */
   line-height: 2;
   color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
   body {
      font-size: 16px;
   }
}

/*  팝업 css  */
.product-card {
   border: 1px solid #ccc;
   padding: 16px;
   text-align: center;
   cursor: pointer;
}

.product-card img {
   width: 300px;
}

/* 팝업 스타일 */
.popup {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 800px;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 16px;
   z-index: 1000;
}

/* 팝업 콘텐츠 스타일 */
.popup-content {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.popup img {
   width: 400px;
   height: 300px;
   box-sizing: border-box;
   margin-right: 16px;
}

/* 팝업 디테일 스타일 */
.popup-details {
   flex: 1;
   min-width: 300px;
   display: flex;
   flex-direction: column;
   margin: auto;
}

/* 팝업 설명 스타일 */
.popup-description {
   width: 100%;
   margin-top: 30px;
   text-align: left;
   flex-basis: 100%;
}

/* 수량 조절 스타일 */
.quantity-control {
   display: flex;
   align-items: center;
}

/* 버튼 스타일 */
.pbtn {
   margin: auto;
   display: flex;
   gap: 30px;
}

/* 팝업 닫기 버튼 스타일 */
.popup-close {
   position: absolute;
   top: 8px;
   right: 8px;
   cursor: pointer;
}

/* 오버레이 스타일 */
.overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1000;
}

.popup-details h4 {
   word-wrap: break-word; /* 긴 단어가 나올 경우 줄 바꿈 처리 */
}

/* 팝업 끝 */

/* 하단 장바구니 스타일 */
footer {
   position: fixed; /* 화면에 고정 */
   bottom: 30px; /* 하단에서의 거리 */
   right: 40px; /* 오른쪽에서의 거리 */
   z-index: 1000; /* 다른 요소 위에 위치 */
}

#move-to-cart-btn {
   border-radius: 50px;
   padding: 0; /* 버튼 내부의 padding 초기화 */
   background: none; /* 배경 없음 */
   border: none; /* 테두리 없음 */
   cursor: pointer;
}

/* @
keyframes moveImage { 0% {
   transform: translateY(0);
}

50
%
{
transform
:
translateY(
-5px
); 50% 지점에서 위로 5px 이동
}
100
%
{
transform
:
translateY(
0
);
}
} */
#move-to-cart-btn img {
   width: 80px; /* 이미지 너비 조정 */
   height: 80px; /* 이미지 높이 조정 */
   animation: moveImage 5s infinite alternate; /* 애니메이션 적용 */
}

/* 장바구니스타일 끝 */

/* 수량 조절 버튼 스타일 */
.quantity-control {
   display: flex;
   align-items: center;
   margin-top: 30px;
   margin-left: 100px;
   border: 1px solid rgb(206, 204, 204);
   cursor: pointer;
   margin-right: 100px;
   border-style: dashed;
}

.quantity-control input {
   width: 50px;
   text-align: center;
   background-color: white;
   border: 1px solid white;
}

.quantity-control button {
   font-size: 20px;
   /* padding: 8px; */
   background-color: white;
   border: 1px solid white;
   cursor: pointer;
   width: 50px;
   font-weight: bold;
}

.po_btn {
   font-weight: 700;
   border: 1px solid rgba(0, 0, 0, 0.267);
   background-color: white;
   border-radius: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.p_btn {
   font-weight: 700;
   border: 1px solid rgba(0, 0, 0, 0.267);
   background-color: rgb(134, 172, 145);
   border-radius: 10px;
   color: white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.o_btn {
   margin-left: 670px;
   background-color: white;
   border: none;
   color: rgb(134, 172, 145);
   font-weight: bold;
}

/* .quantity-control button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
} */

/* 수량조절 버튼 끝  */
#fh5co-logo a:hover {
   text-decoration: none;
}

.web {
   text-align: center;
}

.search-box {
   margin-left: 250px;
   height: 40px;
   display: flex;
   align-items: center;
   border: 3px solid #000;
   border-radius: 30px;
   /* padding: 5px 10px; */
   width: 700px;
}

.search-txt {
   border: none;
   outline: none;
   flex-grow: 1;
   /* padding: 5px; */
   border-radius: 30px;
   font-size: medium;
}

.search-btn {
   background: none;
   border: none;
   cursor: pointer;
}

.search-img {
   width: 20px;
   height: 20px;
}

.search-btn {
   border: none;
   background: transparent;
   background: none;
   border: none;
   cursor: pointer;
   margin-inline-start: 80px;
}

.search-img {
   /* margin-bottom: 50px; */
   /* padding-left: 100px; */
   /* height: 20px; */
   box-sizing: border-box;
   margin-bottom: 5px;
}

.search-txt input {
   border: none;
   outline: none;
   flex-grow: 1;
   padding: 5px;
   border-radius: 50px;
}

.message-tone {
   position: relative;
   background: #E7EDF7;
   border-radius: .4em;
   width: 600px; /* 말풍선의 너비 */
   max-width: 100%;
}

.message-tone:after {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 32px solid transparent;
   border-right-color: #E7EDF7;
   border-left: 0;
   border-bottom: 0;
   margin-top: -25px;
   margin-left: -50px;
}

.tone-description {
   /* transform: translate(-50%); */
   display: none;
   position: absolute;
   width: 400px;
   height: auto;
   padding: 20px;
   color: #1A66CC;
   border-radius: 5px;
   z-index: 1000;
   background-color: #E7EDF7;
}

.speech-bubble {
   position: relative;
   background: #bbbcc5b2;
   border-radius: .4em;
   /* padding: 10px; */
   text-align: center;
   margin-bottom: 20px;
   margin-top: 10px;
}

.speech-bubble span {
   font-size: 20px;
   font-weight: bold;
}

.speech-bubble h5 {
   margin: 10px 0;
}

/* .tone-description {
   transform: translate(-50%);
   display: none;
   position: absolute;
   width: 400px;
   height: auto;
   padding: 50px;
   background-color: #e3e2ecc4;
   color: white;
   border-radius: 5px;
   z-index: 1000;
}

.message-tone {
   position: relative;
   background: #bbbcc5b2;
   border-radius: .4em;
   padding: 10px;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 10px;
}

.message-tone span {
   font-size: 20px;
   font-weight: bold;
}

.message-tone h5 {
   margin: 10px 0;
} */
#clickMe img {
   width: 30px;
}

#clickMe {
   margin-left: 900px;
   padding: 10px;
   /* background-color: #4CAF50; */
   color: white;
   border-radius: 5px;
   cursor: pointer;
   display: inline-block;
}

.tone {
   display: flex;
   font-size: 25px;
   justify-content: center; /* 가운데 정렬 */
}

.line_tone {
   margin-top: 10px;
   border: 1px solid #ccc;
   margin-left: 300px;
   margin-right: 300px;
   margin-bottom: 30px;
}

.tone_btn {
   background-color: white;
   border: none;
   align-items: center;
   font-size: 25px;
   margin: 0 100px; /* 버튼 사이의 간격을 설정 */
   padding: 10px 20px; /* 버튼 내부 여백 추가 */
   transition: transform 0.8s ease, font-size 0.8s ease; /* 변화의 부드러움 설정 */
}

.tone_btn:hover {
   transform: scale(1.1); /* 호버 시 크기 변화 설정 */
}

.tone_btn.active222 {
   font-size: 30px;
   color: black;
   transform: scale(1); /* 클릭된 상태에서는 크기 변화 없음 */
}

.tone_btn.active222:hover {
   transform: scale(1.1); /* 클릭된 상태에서도 호버 시 크기 변화 설정 */
}


/* .log {
   font-size: 18px;
   margin-left: 1200px;
   display: flex;
   display: flex;
   justify-content: flex-end;
}

.log a {
   margin-left: 10px;
   간격
}
 */
/* input.search-txt{
 margin-bottom: 50px;
} */
.search-txt {
   position: relative;
   width: 300px;
   /* padding-left:10px ; */
   /* height: 30px; */
   /* border: none; */
   font-size: medium;
   /* margin-bottom: 300px; */
}

.search-txt:focus {
   outline: none;
}

.white-border {
   border: 2px solid #000;
   /* 원하는 색상과 굵기로 변경 */
}

/* 로그인 회원가입 */
a {
   color: #311313;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

a:hover, a:active, a:focus {
   color: #da1212;
   outline: none;
}

p {
   margin-bottom: 1.5em;
}

h1, h2 {
   color: #000;
   font-family: 'GongGothicMedium';
   font-weight: 600;
   margin: 0 0 30px 0;
   font-size: 60px;
}

h3, h4, h5, h6 {
   color: #000;
   font-family: 'GongGothicMedium';

   /* margin: 0 0 30px 0; */
}

figure {
   margin-bottom: 2.5em;
   float: left;
   width: 100%;
}

::-webkit-selection {
   color: #fff;
   background: #da1212;
}

::-moz-selection {
   color: #fff;
   background: #da1212;
}

::selection {
   color: #fff;
   background: #da1212;
}

#fh5co-page {
   width: 100%;
   overflow: hidden;
   position: relative;
}

#fh5co-aside {
   padding-top: 40px;
   padding-bottom: 40px;
   width: 15%;
   position: fixed;
   bottom: 0;
   top: 0;
   left: 0;
   overflow-y: scroll;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

#fh5co-aside.border {
   border-right: 1px solid #e6e6e6;
}

@media screen and (max-width: 1200px) {
   #fh5co-aside {
      width: 30%;
   }
}

@media screen and (max-width: 768px) {
   #fh5co-aside {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
   }
}

#fh5co-aside #fh5co-logo {
   text-align: center;
}

#fh5co-aside #fh5co-main-menu ul {
   text-align: center;
   margin: 0;
   padding: 0;
}

@media screen and (max-width: 768px) {
   #fh5co-aside #fh5co-main-menu ul {
      margin: 0 0 2em 0;
   }
}

#fh5co-aside #fh5co-main-menu ul li {
   margin: 0 0 10px 0;
   padding: 0;
   list-style: none;
}

#fh5co-aside #fh5co-main-menu ul li a {
   color: rgba(0, 0, 0, 0.5);
   text-decoration: none;
   letter-spacing: .1em;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 200;
   position: relative;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   padding: 10px 10px;
   letter-spacing: .2em;
   font-family: 'GongGothicMedium';
}

#fh5co-aside #fh5co-main-menu ul li a:after {
   content: "";
   position: absolute;
   height: 2px;
   bottom: 7px;
   left: 10px;
   right: 10px;
   background-color: #da1212;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   -moz-transform: scaleX(0);
   -ms-transform: scaleX(0);
   -o-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* #fh5co-aside #fh5co-main-menu ul li a:hover {
   text-decoration: nrgb(255, 255, 128), 255, 128) color: black;
} */
#fh5co-aside #fh5co-main-menu ul li a:hover:after {
   visibility: visible;
   -webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
   -o-transform: scaleX(1);
   transform: scaleX(1);
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a {
   color: black;
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a:after {
   visibility: visible;
   -webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
   -o-transform: scaleX(1);
   transform: scaleX(1);
}

#fh5co-aside .fh5co-footer {
   position: absolute;
   bottom: 40px;
   font-size: 14px;
   text-align: center;
   width: 100%;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
   #fh5co-aside .fh5co-footer {
      position: relative;
      bottom: 0;
   }
}

#fh5co-aside .fh5co-footer span {
   display: block;
}

#fh5co-aside .fh5co-footer ul {
   padding: 0;
   margin: 0;
   text-align: center;
}

#fh5co-aside .fh5co-footer ul li {
   padding: 0;
   margin: 0;
   display: inline;
   list-style: none;
}

#fh5co-aside .fh5co-footer ul li a {
   color: rgba(0, 0, 0, 0.7);
   padding: 4px;
}

#fh5co-aside .fh5co-footer ul li a:hover, #fh5co-aside .fh5co-footer ul li a:active,
   #fh5co-aside .fh5co-footer ul li a:focus {
   text-decoration: none;
   outline: none;
   color: #da1212;
}

#fh5co-main {
   width: 100%;
   float: right;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

@media screen and (max-width: 1200px) {
   #fh5co-main {
      width: 70%;
   }
}

@media screen and (max-width: 768px) {
   #fh5co-main {
      width: 100%;
   }
}

#fh5co-main .fh5co-narrow-content {
   position: relative;
   width: 70%;
   margin: 0 auto;
   padding: 4em 0;
}

@media screen and (max-width: 768px) {
   #fh5co-main .fh5co-narrow-content {
      width: 100%;
      padding: 3.5em 1em;
   }
}

body.offcanvas {
   overflow-x: hidden;
}

body.offcanvas #fh5co-aside {
   -moz-transform: translateX(0);
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   -o-transform: translateX(0);
   transform: translateX(0);
   width: 270px;
   background: #fff;
   z-index: 999;
   position: fixed;
}

body.offcanvas #fh5co-main, body.offcanvas .fh5co-nav-toggle {
   top: 0;
   -moz-transform: translateX(270px);
   -webkit-transform: translateX(270px);
   -ms-transform: translateX(270px);
   -o-transform: translateX(270px);
   transform: translateX(270px);
}

.work-item {
   margin-bottom: 30px;
}

.work-item a {
   border: none;
   text-align: center;
}

/*  home 이미지 */
.work-item a img {
   margin-bottom: 5px;
   float: left;
   border: 10px solid transparent;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   height: 300px;
   width: 500px;
   display: block;
   /* margin-left: 15px; */
   border: 5px ridge;
}

.title h5 {
   font-size: 10px;
   margin-bottom: 5px;
   font-weight: lighter;
}

.price {
   font-size: 20px;
   font-weight: 100;
}

.top-description {
   margin-bottom: 20px;
}

.work-item a:hover, .work-item a:active, .work-item a:focus {
   text-decoration: none;
}

.work-item a:hover img, .work-item a:active img, .work-item a:focus img
   {
   border: 10px solid #000;
}

.fh5co-services {
   margin-top: 5px;
}

.fh5co-services ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.work-pagination {
   padding: 3em 0;
}

.work-pagination a {
   color: #000;
}

.work-pagination a:hover {
   /* color: #da1212; */
   text-decoration: none;
}

@media screen and (max-width: 480px) {
   .work-pagination span {
      display: none;
   }
}

.fh5co-border-bottom {
   border-bottom: 1px solid #f0f0f0;
}

/* .fh5co-testimonial {
   paddingrgb(255, 128, 128);
   background: #da1212;
}
 */
@media screen and (max-width: 768px) {
   .fh5co-testimonial {
      padding: 3em 0;
   }
}

.fh5co-testimonial .item {
   color: white;
   padding-left: 3em;
   padding-right: 3em;
}

@media screen and (max-width: 768px) {
   .fh5co-testimonial .item {
      padding-left: 0em;
      padding-right: 0em;
   }
}

.fh5co-testimonial .item figure {
   text-align: center;
}

.fh5co-testimonial .item figure img {
   max-width: inherit;
   width: 90px;
   margin: 0 auto;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   border-radius: 50%;
}

.fh5co-testimonial .item p {
   font-size: 40px;
}

@media screen and (max-width: 768px) {
   .fh5co-testimonial .item p {
      font-size: 28px;
   }
}

@media screen and (max-width: 480px) {
   .fh5co-testimonial .item p {
      font-size: 20px;
   }
}

.fh5co-testimonial .item .author {
   font-size: 16px;
   display: block;
}

.fh5co-counters {
   padding: 1em 0;
   background: #e6e6e6;
   background-size: cover;
   background-attachment: fixed;
}

.fh5co-counters .fh5co-counter {
   font-size: 50px;
   display: block;
   color: #fff;
   font-family: 'GongGothicMedium';
   width: 100%;
   margin-bottom: .5em;
}

.fh5co-counters .fh5co-counter-label {
   color: #fff;
   text-transform: uppercase;
   font-size: 13px;
   font-family: 'GongGothicMedium';
   letter-spacing: 5px;
   margin-bottom: 2em;
   display: block;
}

.fh5co-lead {
   font-size: 24px;
   line-height: 1.5;
}

.fh5co-heading-colored {
   color: #da1212;
}

.fh5co-cards {
   padding: 1em 0;
   background: #e6e6e6;
}

@media screen and (max-width: 768px) {
   .fh5co-cards {
      padding: 1em 0;
   }
}

.fh5co-cards .fh5co-flex-wrap {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
}

.fh5co-cards .fh5co-flex-wrap>div {
   width: 49.5%;
   margin-right: 1%;
   background: #fff;
   padding: 30px;
   margin-bottom: 10px;
}

.fh5co-cards .fh5co-flex-wrap>div:nth-of-type(1) {
   float: left;
}

.fh5co-cards .fh5co-flex-wrap>div:nth-of-type(2) {
   float: right;
   margin-right: 0%;
}

@media screen and (max-width: 992px) {
   .fh5co-cards .fh5co-flex-wrap>div {
      width: 100%;
      margin-right: 0;
   }
}

.fh5co-cards .fh5co-flex-wrap .fh5co-card p:last-child {
   margin-bottom: 0;
}

.fh5co-cards .fh5co-flex-wrap .fh5co-card h5 {
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: .2em;
   padding: 4px 8px;
   background: #ebebeb;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   /* *display: inline; */
}

.fh5co-counter .fh5co-number {
   font-size: 100px;
   color: #da1212;
   font-weight: 400;
   margin: 0;
   padding: 0;
   line-height: .7;
}

.fh5co-counter .fh5co-number.fh5co-left {
   float: left;
   width: 30%;
}

@media screen and (max-width: 768px) {
   .fh5co-counter .fh5co-number.fh5co-left {
      width: 100%;
      line-height: 1.2;
   }
}

.fh5co-counter .fh5co-text {
   float: right;
   text-align: left;
   width: 70%;
}

@media screen and (max-width: 768px) {
   .fh5co-counter .fh5co-text {
      width: 100%;
      text-align: center;
   }
}

.fh5co-counter .fh5co-text h3 {
   margin: 0;
   padding: 0;
   position: relative;
}

.fh5co-counter .fh5co-text h3.border-bottom:after {
   content: "";
   width: 50px;
}

.fh5co-social {
   padding: 0;
   margin: 0;
   text-align: center;
}

.fh5co-social li {
   padding: 0;
   margin: 0;
   list-style: none;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   /* *display: inline; */
}

.fh5co-social li a {
   font-size: 22px;
   color: #000;
   padding: 10px;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   /* *display: inline; */
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   border-radius: 7px;
}

@media screen and (max-width: 768px) {
   .fh5co-social li a {
      padding: 10px 8px;
   }
}

.fh5co-social li a:hover {
   color: #da1212;
}

.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus
   {
   outline: none;
   text-decoration: none;
   color: #da1212;
}

#map {
   width: 100%;
   height: 700px;
}

@media screen and (max-width: 768px) {
   #map {
      height: 200px;
   }
}

.fh5co-more-contact {
   background: #fafafa;
}

.fh5co-feature {
   text-align: left;
   width: 100%;
   float: left;
   padding: 20px;
}

.fh5co-feature .fh5co-icon {
   float: left;
   width: 10%;
   display: block;
   margin-top: 5px;
}

.fh5co-feature .fh5co-icon i {
   color: #da1212;
   font-size: 70px;
}

@media screen and (max-width: 1200px) {
   .fh5co-feature .fh5co-icon i {
      font-size: 40px;
   }
}

.fh5co-feature.fh5co-feature-sm .fh5co-icon i {
   color: #da1212;
   font-size: 28px;
}

@media screen and (max-width: 1200px) {
   .fh5co-feature.fh5co-feature-sm .fh5co-icon i {
      font-size: 28px;
   }
}

.fh5co-feature .fh5co-text {
   float: right;
   width: 80%;
}

@media screen and (max-width: 768px) {
   .fh5co-feature .fh5co-text {
      width: 82%;
   }
}

@media screen and (max-width: 480px) {
   .fh5co-feature .fh5co-text {
      width: 72%;
   }
}

.fh5co-feature .fh5co-text h2, .fh5co-feature .fh5co-text h3 {
   margin: 0;
   padding: 0;
}

.fh5co-feature .fh5co-text h3 {
   font-weight: 300;
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.8);
   font-size: 18px;
   letter-spacing: .2em;
   text-transform: uppercase;
}

.fh5co-heading {
   /* background-color: #E4F0D5; */
   /*    font-size: 45px; */
   /* margin-bottom: 1em; */
   /* width: 1300px; */
   display: flex;
   align-items: center; /* 세로 정렬 설정 */
}

.log {
   margin-top: 50px;
   text-align: right;
}

.fh5co-heading h2 {
   margin: 0; /* 기본 마진 제거 */
}

.fh5co-heading .log {
   margin-left: auto; /* 로그인/회원가입 영역을 오른쪽으로 이동 */
}

.fh5co-heading .log a {
   color: #000000; /* 링크 색상 */
   text-decoration: none; /* 밑줄 제거 */
   margin: 0 10px; /* 각 링크 사이 여백 설정 */
}

.line {
   margin-top: 30px;
   border: 1px solid #ccc;
}

/* .fh5co-heading.fh5co-light {
  color: #fff;
} */
/* .fh5co-heading span {
  display: block;
}
@media screen and (max-width: 768px) {
  .fh5co-heading {
    font-size: 30px;
    margin-bottom: 1em;
  }
} */
.fh5co-staff img {
   margin-bottom: 1em;
}

.fh5co-staff h3 {
   margin: 0;
}

.fh5co-staff h4 {
   margin: 0 0 20px 0;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.4);
}

.chart {
   width: 160px;
   height: 160px;
   margin: 0 auto 30px auto;
   position: relative;
   text-align: center;
}

.chart span {
   position: absolute;
   top: 50%;
   left: 0;
   margin-top: -30px;
   width: 100%;
}

.chart span strong {
   display: block;
}

.chart canvas {
   position: absolute;
   left: 0;
   top: 0;
}

/* Owl Override Style */
.owl-carousel .owl-controls, .owl-carousel-posts .owl-controls {
   margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev,
   .owl-carousel-posts .owl-controls .owl-nav .owl-next,
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
   top: 50%;
   margin-top: -29px;
   z-index: 9999;
   position: absolute;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
   top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel-posts .owl-controls .owl-nav .owl-next
   {
   right: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
   .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
   margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel-posts .owl-controls .owl-nav .owl-prev
   {
   left: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
   margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
   right: -50px;
}

@media screen and (max-width: 768px) {
   .owl-carousel-posts .owl-controls .owl-nav .owl-next {
      right: 0px;
   }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
   left: -50px;
}

@media screen and (max-width: 768px) {
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
      left: 0px;
   }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
   .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
   .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
   color: #444;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
   .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
   .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
   .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
   color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
   .owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i
   {
   color: #fff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
   .owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i
   {
   color: #fff;
}

@media screen and (max-width: 768px) {
   .owl-theme .owl-controls .owl-nav {
      display: none;
   }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
   background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
   font-size: 30px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus
   {
   background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus
   {
   background: none !important;
}

.owl-theme .owl-dots {
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
   bottom: 0;
   margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
   width: 10px;
   height: 10px;
   background: #fff;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
   border: 3px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
   background: none;
   border: 3px solid #da1212;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
   {
   background: transparent;
   height: 10px;
   border: 2px solid #fff;
}

.btn {
   margin-right: 4px;
   margin-bottom: 4px;
   font-family: 'GongGothicMedium';
   font-size: 18px;
   font-weight: 400;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   border-radius: 0px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   padding: 8px 20px !important;
}

.btn.btn-sm {
   padding: 4px 15px !important;
}

.btn.btn-md {
   padding: 8px 20px !important;
}

.btn.btn-lg {
   padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
   box-shadow: none !important;
   outline: none !important;
}

.btn-primary {
   background: #da1212;
   color: #fff;
   border: 2px solid #da1212;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   background: #ec1919 !important;
   border-color: #ec1919 !important;
}

.btn-primary.btn-outline {
   background: transparent;
   color: #da1212;
   border: 2px solid #da1212;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus,
   .btn-primary.btn-outline:active {
   background: #da1212;
   color: #fff;
}

.btn-success {
   background: #5cb85c;
   color: #fff;
   border: 2px solid #5cb85c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
   background: #4cae4c !important;
   border-color: #4cae4c !important;
}

.btn-success.btn-outline {
   background: transparent;
   color: #5cb85c;
   border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus,
   .btn-success.btn-outline:active {
   background: #5cb85c;
   color: #fff;
}

.btn-info {
   background: #5bc0de;
   color: #fff;
   border: 2px solid #5bc0de;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
   background: #46b8da !important;
   border-color: #46b8da !important;
}

.btn-info.btn-outline {
   background: transparent;
   color: #5bc0de;
   border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active
   {
   background: #5bc0de;
   color: #fff;
}

.btn-warning {
   background: #f0ad4e;
   color: #fff;
   border: 2px solid #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
   background: #eea236 !important;
   border-color: #eea236 !important;
}

.btn-warning.btn-outline {
   background: transparent;
   color: #f0ad4e;
   border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus,
   .btn-warning.btn-outline:active {
   background: #f0ad4e;
   color: #fff;
}

.btn-danger {
   background: #d9534f;
   color: #fff;
   border: 2px solid #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
   background: #d43f3a !important;
   border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
   background: transparent;
   color: #d9534f;
   border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus,
   .btn-danger.btn-outline:active {
   background: #d9534f;
   color: #fff;
}

.btn-outline {
   background: none;
   border: 2px solid gray;
   font-size: 16px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
   box-shadow: none;
}

.form-control {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   box-shadow: none;
   background: transparent;
   border: 2px solid rgba(0, 0, 0, 0.1);
   height: 54px;
   font-size: 18px;
   font-weight: 300;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   border-radius: 0px;
}

.form-control:active, .form-control:focus {
   outline: none;
   box-shadow: none;
   border-color: #da1212;
}

#message {
   height: 130px;
}

.fh5co-nav-toggle {
   cursor: pointer;
   text-decoration: none;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
   background: #000;
}

.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after
   {
   background: #000;
}

.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active
   {
   outline: none;
   border-bottom: none !important;
}

.fh5co-nav-toggle i {
   position: relative;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   /* *display: inline; */
   width: 30px;
   height: 2px;
   color: #000;
   font: bold 14px/.4 Helvetica;
   text-transform: uppercase;
   text-indent: -55px;
   background: #000;
   transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
   content: '';
   width: 30px;
   height: 2px;
   background: #000;
   position: absolute;
   left: 0;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.fh5co-nav-toggle.dark i {
   position: relative;
   color: #000;
   background: #000;
   transition: all .2s ease-out;
}

.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
   background: #000;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.fh5co-nav-toggle i::before {
   top: -7px;
}

.fh5co-nav-toggle i::after {
   bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
   top: -10px;
}

.fh5co-nav-toggle:hover i::after {
   bottom: -10px;
}

.fh5co-nav-toggle.active i {
   background: transparent;
}

.fh5co-nav-toggle.active i::before {
   top: 0;
   -webkit-transform: rotateZ(45deg);
   -moz-transform: rotateZ(45deg);
   -ms-transform: rotateZ(45deg);
   -o-transform: rotateZ(45deg);
   transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
   bottom: 0;
   -webkit-transform: rotateZ(-45deg);
   -moz-transform: rotateZ(-45deg);
   -ms-transform: rotateZ(-45deg);
   -o-transform: rotateZ(-45deg);
   transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
   position: fixed;
   left: 0;
   top: 0px;
   z-index: 9999;
   cursor: pointer;
   opacity: 1;
   visibility: hidden;
   padding: 20px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

@media screen and (max-width: 768px) {
   .fh5co-nav-toggle {
      opacity: 1;
      visibility: visible;
   }
}

@media screen and (max-width: 480px) {
   .col-xxs-12 {
      float: none;
      width: 100%;
   }
}

.row-bottom-padded-lg {
   padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
   .row-bottom-padded-lg {
      padding-bottom: 1em;
   }
}

.row-bottom-padded-md {
   padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
   .row-bottom-padded-md {
      padding-bottom: 1em;
   }
}

.row-bottom-padded-sm {
   padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
   .row-bottom-padded-sm {
      padding-bottom: 1em;
   }
}

.js .animate-box {
   opacity: 0;
}

/* 가구 카테고리 */
.con {
   /* margin-bottom: 80px; */
   display: flex;
   justify-content: center;
   justify-content: space-around;
   /*border-top: 1px solid #1b1a1a; /* 위쪽 선 스타일 및 색상 지정 */
   /* border-bottom: 1px solid #1b1a1a; /* 아래쪽 선 스타일 및 색상 지정 */
   /* padding: 30px; 내부 여백 지정 */
   margin-bottom: 10px;
   /* margin-top: 30px; */
}

/* 하단 아이콘 이미지  */
.floating-icon {
   position: fixed;
   right: 50px;
   bottom: 20px;
   width: 70px;
   height: 70px;
   background-image: url('/nitro/images/장바구니.png');
   /* 장바구니 이미지 경로 설정 */
   background-size: cover;
   background-position: center;
   border-radius: 50%;
   cursor: pointer;
   animation: float 3s ease-in-out infinite;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   /* 그림자 추가 */
}

.color_lst {
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; */
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-around;
}

.color-option {
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; */
   width: 50px;
   height: 50px;
   border-radius: 10px;
   cursor: pointer;
   border: 1px solid #ccc;
}

.color-option:hover {
   border: 1px solid #b3afaf;
   /* 그림자 */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   border-radius: 50px;
}

.color-label {
   font-size: 1em;
   margin-right: 10px;
}

.con_btn {
   background-color: none;
   color: rgb(0, 0, 0);
   position: relative;
   border: none;
   background: none;
   padding: 0;
}

.con_img {
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; */
   width: 80px;
   height: 80px;
   display: block;
   /* 이미지를 블록 요소로 설정하여 텍스트가 이미지 아래에 표시되도록 합니다. */
   /* width: 100%; */
   /* 이미지가 부모 요소에 꽉 차도록 설정합니다. */
}

/*# sourceMappingURL=style.css.map */
.caption {
   font-size: 20px;
   color: #050505;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   background-color: none;
   /* padding: 10px; */
   border-radius: 5px;
   white-space: nowrap;
   /* 텍스트가 한 줄에 모두 표시되도록 설정합니다. */
   bottom: -35px;
}

.rating {
   display: flex;
   justify-content: center;
}

.star {
   font-size: 15px;
   color: gold;
   margin: 0 2px;
}

.profile-card {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 300px;
   text-align: center;
   padding: 20px;
}

.profile-card img {
   border-radius: 50%;
   width: 80px;
   height: 80px;
   background-color: #ddd;
   margin-bottom: 10px;
   margin-top: 30px;
   margin-right: 20px;
}

.profile-card h2 {
   margin: 10px 0;
   margin-right: 20px;
}

.profile-card p {
   color: #888;
   margin: 5px 0;
}

.profile-card .settings-btn {
   display: inline-block;
   margin: 15px 0;
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   border-radius: 5px;
   text-decoration: none;
   margin-right: 20px;
}

.profile-card .stats {
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
   margin-right: 20px;
}

.profile-card .stats div {
   text-align: center;
}

/* 색상 */
.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-button {
   background-color: #f1f1f1;
   border: 1px solid #ccc;
   padding: 10px;
   cursor: pointer;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   width: 200px;
   max-height: 300px;
   overflow-y: auto;
}

.dropdown-content label {
   display: flex;
   align-items: center;
   padding: 8px;
   cursor: pointer;
   font-size: 14px;
}

.dropdown-content label:hover {
   background-color: #f1f1f1;
}

.dropdown-content input[type="checkbox"] {
   margin-right: 10px;
}

.color-box {
   width: 16px;
   height: 16px;
   margin-right: 10px;
   border: 1px solid #ccc;
}

.white {
   background-color: #FFFFFF;
}

.black {
   background-color: #000000;
}

.brown {
   background-color: #8B4513;
}

.gold {
   background-color: #FFD700;
}

.orange {
   background-color: #FFA500;
}

.green {
   background-color: #008000;
}

.navy {
   background-color: #000080;
}

.pink {
   background-color: #FFC0CB;
}

.transparent {
   background-color: transparent;
}

.gray {
   background-color: #808080;
}

.beige {
   background-color: #F5F5DC;
}

.silver {
   background-color: #C0C0C0;
}

.red {
   background-color: #FF0000;
}

.yellow {
   background-color: #FFFF00;
}

.blue {
   background-color: #0000FF;
}

.violet {
   background-color: #EE82EE;
}

.multi {
   background: linear-gradient(45deg, red, orange, yellow, green, blue, violet);
}

.dropdown:hover .dropdown-content {
   display: block;
}

/* 마이페이지 */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */
.container {
   background-color: #fff;
   margin-top: 300px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section {
   margin-bottom: 20px;
}

.upload-section h2 {
   font-size: 18px;
   margin-bottom: 10px;
}

.upload-box {
   border: 2px dashed #ccc;
   border-radius: 8px;
   padding: 20px;
   text-align: center;
   position: relative;
}

.upload-box p {
   margin: 0;
   color: #777;
}

.upload-box input[type="file"] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer;
}

#photo-preview, #housewarming-preview {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}

.preview-image {
   width: 300px;
   height: 300px;
   object-fit: cover;
   border: 1px solid #ccc;
   border-radius: 8px;
}

.my_page {
   margin-top: 100px;
}

.my_img {
   height: 400px;
   width: 500px;
}

/* .fh5co-heading{
  
  font-size: 60px;

} */