<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!--  회원 테이블에 사용할 Mapper  -->



<mapper namespace="UserMapper">
	
	<!-- sql문 작성  -->
	
	
	<!-- id 중복체크  -->
	<select id="checkUserid" parameterType="String" resultType="Integer">
		select count(*) from tb_user where user_id = #{user_id}
	</select>
	
	
	<!-- 회원가입  -->
	<insert id="joinUser" parameterType="User">
		insert into tb_user 
		values (#{user_id}, SHA(#{user_pw}), #{user_name}, #{user_email}, #{user_phone}, #{user_addr},
		null, null, #{joined_at}, #{user_type} ,null)
	</insert>
	
	<!-- 로그인 -->
	<select id="loginUser" parameterType="User" resultType="User">
		select * from tb_user where user_id=#{user_id} and user_pw=SHA(#{user_pw})
	</select>
	
</mapper>