<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckUserIdService</servlet-name>
  	<display-name>CheckUserIdService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CheckUserIdService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemCategoryService</servlet-name>
  	<display-name>ItemCategoryService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemCategoryService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemAllSelectService</servlet-name>
  	<display-name>ItemAllSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemAllSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemColorSelectService</servlet-name>
  	<display-name>ItemColorSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemColorSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemTwoOptionSelectService</servlet-name>
  	<display-name>ItemTwoOptionSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemTwoOptionSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRoomImageService</servlet-name>
  	<display-name>UserRoomImageService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserRoomImageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemRecommendService</servlet-name>
  	<display-name>ItemRecommendService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemRecommendService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateLoginSession</servlet-name>
  	<display-name>UpdateLoginSession</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserSessionUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemRecommendTwoOptionService</servlet-name>
  	<display-name>ItemRecommendTwoOptionService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemRecommendTwoOptionService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemOneSelectService</servlet-name>
  	<display-name>ItemOneSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ItemOneSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BasketSelectService</servlet-name>
  	<display-name>BasketSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BasketSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BasketInsertService</servlet-name>
  	<display-name>BasketInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BasketInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BasketCntUpdateService</servlet-name>
  	<display-name>BasketCntUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BasketCntUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BasketDeleteService</servlet-name>
  	<display-name>BasketDeleteService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BasketDeleteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderInsertService</servlet-name>
  	<display-name>OrderInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OrderInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDetailInsertService</servlet-name>
  	<display-name>OrderDetailInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OrderDetailInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AfterPayBasketDelete</servlet-name>
  	<display-name>AfterPayBasketDelete</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AfterPayBasketDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderService</servlet-name>
  	<display-name>OrderService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OrderService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MypageService</servlet-name>
  	<display-name>MypageService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MypageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardWrite</servlet-name>
  	<display-name>BoardWrite</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardWrite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminOrderService</servlet-name>
  	<display-name>AdminOrderService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminOrderService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminOrderDetailService</servlet-name>
  	<display-name>AdminOrderDetailService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminOrderDetailService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminOrderUpdateService</servlet-name>
  	<display-name>AdminOrderUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminOrderUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminItemListService</servlet-name>
  	<display-name>AdminItemListService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminItemListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminItemInsertService</servlet-name>
  	<display-name>AdminItemInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminItemInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminItemUpdateService</servlet-name>
  	<display-name>AdminItemUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AdminItemUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdSearchService</servlet-name>
  	<display-name>IdSearchService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.IdSearchService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PwSearchService</servlet-name>
  	<display-name>PwSearchService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PwSearchService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PwUpdateService</servlet-name>
  	<display-name>PwUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PwUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardCategorySelect</servlet-name>
  	<display-name>BoardCategorySelect</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardCategorySelect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateService</servlet-name>
  	<display-name>UserUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteService</servlet-name>
  	<display-name>UserDeleteService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserDeleteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardIndexSelectService</servlet-name>
  	<display-name>BoardIndexSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardIndexSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReplyInsertService</servlet-name>
  	<display-name>ReplyInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ReplyInsertService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckUserIdService</servlet-name>
  	<url-pattern>/checkUserid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemCategoryService</servlet-name>
  	<url-pattern>/categorySelectItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemAllSelectService</servlet-name>
  	<url-pattern>/itemAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemColorSelectService</servlet-name>
  	<url-pattern>/colorSelectItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemTwoOptionSelectService</servlet-name>
  	<url-pattern>/twoOptionItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRoomImageService</servlet-name>
  	<url-pattern>/user_room</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemRecommendService</servlet-name>
  	<url-pattern>/itemRecommendService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateLoginSession</servlet-name>
  	<url-pattern>/updateLoginSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemRecommendTwoOptionService</servlet-name>
  	<url-pattern>/recommendTwoOptionService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemOneSelectService</servlet-name>
  	<url-pattern>/itemOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BasketSelectService</servlet-name>
  	<url-pattern>/basketSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BasketInsertService</servlet-name>
  	<url-pattern>/basketinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BasketCntUpdateService</servlet-name>
  	<url-pattern>/update_basket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BasketDeleteService</servlet-name>
  	<url-pattern>/delete_basket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderInsertService</servlet-name>
  	<url-pattern>/order_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDetailInsertService</servlet-name>
  	<url-pattern>/od_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AfterPayBasketDelete</servlet-name>
  	<url-pattern>/after_pay_basket_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderService</servlet-name>
  	<url-pattern>/OrderService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MypageService</servlet-name>
  	<url-pattern>/MypageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardWrite</servlet-name>
  	<url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminOrderService</servlet-name>
  	<url-pattern>/AdminOrderService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminOrderDetailService</servlet-name>
  	<url-pattern>/AODService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminOrderUpdateService</servlet-name>
  	<url-pattern>/AdminOrderUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminItemListService</servlet-name>
  	<url-pattern>/AdminItemListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminItemInsertService</servlet-name>
  	<url-pattern>/AdminItemInsertService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminItemUpdateService</servlet-name>
  	<url-pattern>/AdminItemUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdSearchService</servlet-name>
  	<url-pattern>/IdSearchService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PwSearchService</servlet-name>
  	<url-pattern>/PwSearchService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PwUpdateService</servlet-name>
  	<url-pattern>/PwUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardCategorySelect</servlet-name>
  	<url-pattern>/BoardCategorySelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateService</servlet-name>
  	<url-pattern>/UserUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteService</servlet-name>
  	<url-pattern>/UserDeleteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardIndexSelectService</servlet-name>
  	<url-pattern>/BoardIndexSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReplyInsertService</servlet-name>
  	<url-pattern>/ReplyInsertService</url-pattern>
  </servlet-mapping>
</web-app>
